<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= workout.name %></title> 

  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Name: <%= workout.name %>></h1> 
  <p>Description: <%=workout.description %></p>

    <div class="workout-details"></div>

      <a class="workouts-index-link" href="/workouts">
      <div class="index-link-text">Back to Workouts</div>
      <div class="workout-actions">

        <form
          class="delete-form"
          action="/workouts/<%=workout._id%>?_method=DELETE"
          method="POST"
        >
          <button class="delete-button" type="submit">
            Delete <%= workout.name %>
          </button>
        </form>

        <a class="edit-link" href="/workouts/<%= workout._id %>/edit">
          <div class="edit-text">Edit <%= workout.name %></div>
        </a>


         <!-- <form
          class="edit-form"
          action="/workouts/<%=workout._id%>?_method=EDIT"
          method="POST"
        > -->
          <!-- <button class="edit-button" type="submit">
            Edit <%= workout.name %>
          </button> 
        </form> 

      </div>
  </body>
</html>
